.seo-info {
  padding: 70px 0;
  background: #FBFBFB;
}
.seo-info__container {
  max-width: 1200px;
}
.seo-info__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  margin-bottom: 10px;
  color: var(--deep-blue, #1E4D79);
}
.seo-info__subtitle {
  color: #000000;
  max-height: 205px;
  overflow: hidden;
  font-size: 15px;
  font-weight: 300;
  line-height: 26px;
  transition: max-height 0.5s ease;
}

@font-face {
  font-family: "Inter";
  src: url(../../fonts/static/Inter-Thin.ttf);
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../../fonts/static/Inter-ExtraLight.ttf);
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../../fonts/static/Inter-Light.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../../fonts/static/Inter-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../../fonts/static/Inter-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../../fonts/static/Inter-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../../fonts/static/Inter-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../../fonts/static/Inter-ExtraBlack.ttf);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../../fonts/static/Inter-Black.ttf);
  font-weight: 900;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter";
  font-style: normal;
}

ul {
  list-style: none;
}

button,
input {
  border: 0;
}

button,
a {
  cursor: pointer;
}

p {
  margin: 0;
}

.wrapper {
  width: 1660px;
  margin: 0 auto;
}
.wrapper__container {
  gap: 50px;
  display: flex;
}
.wrapper__left-block {
  width: 65%;
}
.wrapper__right-block {
  width: 30%;
}
.wrapper__top {
  gap: 15px;
  display: flex;
  flex-direction: column;
}
.wrapper__top-block {
  margin-bottom: 30px;
}
.wrapper__title-large, .wrapper__title-medium {
  font-weight: 700;
  color: #000000;
}
.wrapper__title-large span, .wrapper__title-medium span {
  color: #248FEC;
}
.wrapper__title-large {
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 10px;
}
.wrapper__title-medium {
  font-size: 35px;
  line-height: 45px;
}
.wrapper__subtitle {
  color: #000;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
}

@media (min-width: 1500px) and (max-width: 1700px) {
  .wrapper {
    width: 1450px;
  }
}
@media (min-width: 1301px) and (max-width: 1500px) {
  .wrapper {
    width: 1240px;
  }
}
@media (min-width: 1095px) and (max-width: 1300px) {
  .wrapper {
    width: 1090px;
  }
}
@media (max-width: 1094px) {
  .wrapper {
    width: 535px;
  }
  .wrapper__container {
    gap: 40px;
    flex-direction: column;
  }
  .wrapper__left-block, .wrapper__right-block {
    width: 100%;
  }
}
@media (min-width: 460px) and (max-width: 600px) {
  .wrapper {
    width: 450px;
  }
}
@media (min-width: 375px) and (max-width: 459px) {
  .wrapper {
    width: 345px;
  }
}
@media (min-width: 320px) and (max-width: 374px) {
  .wrapper {
    width: 320px;
  }
}
.big-title {
  color: #232323;
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
}
.big-title span {
  color: #248FEC;
}

.subtitle {
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  color: #232323;
}

.block-title {
  gap: 30px;
  display: flex;
  align-items: center;
}
.block-title__text-light, .block-title__text-dark {
  color: #232323;
  font-size: 45px;
  font-weight: 700;
  line-height: 55px;
}
.block-title__text-light {
  color: #ffffff;
}
.block-title__link-dark, .block-title__link-light {
  height: 14px;
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  padding: 14px 24px;
  border-radius: 4px;
  background-color: #FBE200;
  transition: color 0.5s ease, background-color 0.5s ease;
}
.block-title__link-dark:hover, .block-title__link-light:hover {
  color: #ffffff;
  background-color: #248FEC;
}
.block-title__link-light {
  color: #000000;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}
.block-title__link-light:hover {
  color: #000000;
  background-color: #FFF27E;
  box-shadow: 0px 4px 45px 0px rgba(78, 78, 78, 0.45);
}
.block-title__link-more {
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  width: 345px;
  display: none;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  border-radius: 4px;
  background: #FBE200;
  margin-bottom: 40px;
}

@media (max-width: 600px) {
  .big-title {
    font-size: 30px;
    line-height: 40px;
  }
  .block-title__text-light, .block-title__text-dark {
    font-size: 26px;
    line-height: 36px;
  }
  .block-title__link-dark, .block-title__link-light {
    display: none;
  }
  .block-title__link-more {
    display: block;
  }
}
@media (max-width: 345px) {
  .block-title__link-more {
    width: 320px;
  }
}
.logo {
  width: 165px;
  height: 34px;
}

.icon {
  width: 20px;
  height: 20px;
}

.number-list {
  gap: 18px;
  display: flex;
  padding-left: 20px;
  flex-direction: column;
}
.number-list__item {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding-left: 8px;
}
.number-list__item::marker {
  color: #248FEC;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.list-company {
  margin: 10px 0 30px;
  gap: 33px;
  display: flex;
  flex-wrap: wrap;
}
.list-company__item {
  gap: 15px;
  width: 300px;
  display: flex;
  padding: 20px;
  align-items: center;
  border-radius: 2px;
  background: #FBFBFB;
}
.list-company__item-img {
  width: 60px;
  height: 50px;
}
.list-company__item-info {
  gap: 5px;
  display: flex;
  flex-direction: column;
}
.list-company__item-info__title {
  color: #000000;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
}
.list-company__item-info__subtitle {
  color: #248FEC;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}

.title__middle {
  font-size: 35px;
  font-weight: 700;
  line-height: 45px;
  color: var(--black, #232323);
}
.title__middle span {
  color: #248FEC;
}
.title__big {
  width: 785px;
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  color: var(--black, #232323);
}
.title__big span {
  color: #248FEC;
}

.list-social {
  gap: 5px;
  width: 100px;
  display: flex;
  align-items: center;
}
.list-social__item {
  width: 30px;
  height: 30px;
}
.list-social__item-img {
  width: 100%;
  height: auto;
}

.btn-collapse,
.btn-read-more {
  display: flex;
  margin-top: 20px;
  align-items: center;
  background: transparent;
}
.btn-collapse span,
.btn-read-more span {
  font-size: 13px;
  font-weight: 400;
  line-height: 11px;
  margin-right: 5px;
  color: var(--deep-blue, #1E4D79);
}

.btn-read-more-color span {
  color: var(--main-blue, #248FEC);
}

.btn-collapse {
  display: none;
}
.btn-collapse__img {
  transform: rotate(180deg);
}

.block-contact {
  gap: 8px;
  color: #ffffff;
  display: flex;
  align-items: center;
  transition: color 0.5s ease;
}
.block-contact:hover {
  color: #248FEC;
}
.block-contact__icon {
  width: 18px;
  height: 18px;
}
.block-contact__icon-big {
  width: 20px;
  height: 20px;
}
.block-contact__text-default {
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  color: #575757;
}
.block-contact__text-dark, .block-contact__text-light {
  font-size: 15px;
  font-weight: 600;
  color: #000000;
}
.block-contact__text-light {
  color: #ffffff;
}

.btn {
  width: 100%;
}
.btn-blue {
  width: 100%;
  padding: 18px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  border-radius: 8px;
  background-color: #248FEC;
  box-shadow: 0px 14px 24px 0px rgba(36, 143, 236, 0.18);
  transition: color 0.5s ease, background-color 0.5s ease;
}
.btn-blue:hover {
  color: #000000;
  background-color: #FBE200;
}

.btn-showMore {
  display: none;
}

.taxiRentPage .wrapper__left-block {
  width: auto;
}
.taxiRentPage .selectionByParameters .carsGrid__list {
  grid-template-columns: repeat(4, 1fr);
}
.taxiRentPage .selectionByParameters__form .filter-form__container__select {
  width: 415px;
}
.taxiRentPage .selectionByParameters__form .filter-form__container__input {
  width: 208px;
}
.taxiRentPage .selectionByParameters__form .filter-form__buttons {
  justify-content: flex-start;
}
.taxiRentPage .service__list-benefit {
  max-height: 138px;
  overflow: hidden;
  transition: all 0.3s;
}

.rentPage .service__list-benefit {
  max-height: 138px;
  overflow: hidden;
  transition: all 0.3s;
}

@media (max-width: 480px) {
  .btn-showMore {
    display: block;
    width: 100%;
    color: var(--black, #232323);
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    border-radius: 4px;
    background: var(--yellow, #FBE200);
    padding: 23px 0;
    margin-top: 15px;
  }
}
.accordion__header {
  display: flex;
  cursor: pointer;
  align-items: center;
  padding-right: 22px;
  justify-content: space-between;
  background-color: transparent;
  transition: background-color 0.2s ease-out;
}
.accordion__header::after {
  content: "";
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  background-size: 1.25rem;
  background-repeat: no-repeat;
  transition: transform 0.2s ease-out;
  background-image: url(../../images/icons/components/accordion-arrow.svg);
}
.accordion__header:hover::after {
  filter: brightness(0) invert(1);
}
.accordion__content {
  cursor: default;
  padding: 24px 20px 30px;
  background: #ffffff;
}
.accordion__content__list {
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.accordion__content__list__item {
  width: 300px;
}
.accordion__content__list__item-title {
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
  color: #000000;
}
.accordion__content__list__item-subtitle {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #575757;
}
.accordion__content__list__item-link:hover .accordion__content__list__item-title {
  color: #248FEC;
}

.accordion__item_show .accordion__header::after,
.accordion__item_slidedown .accordion__header::after {
  transform: rotate(-180deg);
}

.accordion__item:not(.accordion__item_show) .accordion__body {
  display: none;
}

.footer {
  background: #152A53;
  padding: 52px 0 30px;
}
.footer__wrapper {
  display: flex;
  margin-bottom: 35px !important;
}
.footer__social-content {
  margin-right: 100px;
}
.footer__social-content-text {
  color: #ffffff;
  font-size: 11px;
  line-height: 11px;
  margin: 30px 0 12px;
}
.footer__nav-content {
  gap: 70px;
  width: 1010px;
  display: flex;
}
.footer__nav-content-title {
  font-size: 17px;
  font-weight: 700;
  color: #ffffff;
  line-height: 26px;
  margin-bottom: 5px;
}
.footer__nav-content-list {
  width: 200px;
  display: flex;
  flex-direction: column;
}
.footer__nav-content-list__item-link {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
}
.footer__nav-content-mobile {
  gap: 14px;
  margin: 30px 0;
  display: none;
  flex-direction: column;
}
.footer__nav-content-mobile__item-text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
}
.footer__nav-content-mobile__header {
  margin-top: 14px;
  padding-bottom: 16px;
  border-bottom: 1px solid #4B4B4B;
}
.footer__nav-content-mobile__content {
  margin-top: 20px;
  gap: 16px;
  display: flex;
  flex-direction: column;
}
.footer__nav-content-mobile__content__item-link {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}
.footer__info-container {
  gap: 93px;
  display: flex;
  padding: 30px 0;
  margin-bottom: 30px;
  border-top: 1px solid #4B4B4B;
  border-bottom: 1px solid #4B4B4B;
}
.footer__info-container-title {
  width: 765px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #DADADA;
}
.footer__info-container-title a {
  text-decoration-line: underline;
  color: #248FEC;
}
.footer__subinfo-container {
  display: flex;
  justify-content: space-between;
}
.footer__subinfo-container-title {
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
  line-height: 11px;
}
.footer__subinfo-container-title span {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  margin-left: 8px;
}
.footer__contact {
  width: 314px;
  margin-left: 71px;
}
.footer__contact__content {
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer__contact__content:nth-child(2) {
  margin-top: 20px;
}
.footer__contact__content-title {
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;
  line-height: 24px;
}
.footer__contact__content-title span {
  font-weight: 700;
}
.footer__contact__login-btn {
  gap: 5px;
  display: flex;
  margin-top: 30px;
  align-items: center;
  border-radius: 999px;
  background: #248FEC;
  padding: 8px 14px 8px 8px;
}
.footer__contact__login-btn-text {
  font-size: 13px;
  color: #ffffff;
  font-weight: 600;
  line-height: 13px;
}
.footer__contact__login-btn--mobile {
  display: none;
}

@media (max-width: 480px) {
  .footer {
    padding: 40px 0 20px;
  }
  .footer__wrapper {
    flex-direction: column;
    margin-bottom: 35px !important;
  }
  .footer__nav-content {
    display: none;
  }
  .footer__nav-content-mobile {
    display: flex;
  }
  .footer__info-container {
    gap: 0;
    flex-direction: column;
    padding: 0;
    margin-bottom: 21px;
    border-top: 0;
    border-bottom: 0;
  }
  .footer__info-container-title {
    width: 100%;
    padding: 15px 0;
    border-top: 1px solid #4B4B4B;
    border-bottom: 1px solid #4B4B4B;
  }
  .footer__info-container-title:last-child {
    border-top: none;
  }
  .footer__subinfo-container {
    display: flex;
    justify-content: space-between;
  }
  .footer__subinfo-container-title {
    font-size: 10px;
    line-height: 10px;
  }
  .footer__subinfo-container-title span {
    font-size: 11px;
    line-height: 11px;
    margin-left: 5px;
  }
  .footer__contact {
    width: 100%;
    margin-left: 0;
  }
  .footer__contact__login-btn--desctop {
    display: none;
  }
  .footer__contact__login-btn--mobile {
    margin-top: 0;
    display: flex;
  }
  .footer__social-content {
    margin-right: 0;
  }
  .footer__social-content__inner {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__social-content-text {
    margin-top: 0;
  }
}
#header {
  top: 0;
  z-index: 100;
  position: sticky;
}

.header {
  background: #ffffff;
  margin-bottom: 25px;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__top {
  background: #FBFBFB;
}
.header__top-left-block {
  width: 758px;
  display: flex;
  align-items: center;
}
.header__top-left-block-city {
  cursor: pointer;
  margin-right: 30px;
}
.header__top-left-block-city__text {
  margin: 0 0 4px;
  font-size: 12px;
  line-height: 10px;
  color: var(--main-blue, #248FEC);
}
.header__top-left-block-city__select {
  margin: 0;
  font-size: 13px;
  font-weight: 700;
  line-height: 14px;
  color: var(--black, #232323);
}
.header__top-left-block-contact {
  display: flex;
  gap: 20px;
}
.header__top-left-block-info {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.header__top-left-block-info__icon {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}
.header__top-left-block-info__text {
  margin: 0;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  color: #575757;
}
.header__top-left-block-btn-search {
  border: 0;
  height: 50px;
  display: flex;
  cursor: pointer;
  margin-left: 20px;
  align-items: center;
  background: #F2F2F2;
  padding: 13px 36px 13px 20px;
}
.header__top-left-block-btn-search__icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.header__top-left-block-btn-search__text {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  color: #959595;
}
.header__top-left-block__search-content {
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #ffffff;
  padding: 40px;
  width: 760px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  transition: top 0.3s ease;
}
.header__top-right-block {
  width: 504px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__top-right-block-info {
  display: flex;
  align-items: center;
}
.header__top-right-block-info__icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.header__top-right-block-info__text {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
  color: var(--black, #232323);
}
.header__bottom {
  padding: 13px 0;
  background: white;
}
.header__bottom-left-block {
  width: 1033px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__bottom-right-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__bottom-right-block__btn {
  border: 0;
  padding: 8px;
  border-radius: 36px;
  background: #FFF;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.08);
  margin-right: 8px;
}
.header__bottom-right-block__btn__img {
  width: 20px;
  height: 20px;
}
.header__bottom-right-block__btn-login {
  border: 0;
  display: flex;
  align-items: center;
  padding: 8px 18px;
  border-radius: 999px;
  background: var(--main-blue, #248FEC);
}
.header__bottom-right-block__btn-login__img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.header__bottom-right-block__btn-login__text {
  color: #FFF;
  font-size: 13px;
  font-weight: 600;
  line-height: 13px;
}
.header__bottom__link {
  color: #141B2B;
  font-size: 15px;
  font-weight: 600;
}
.header__bottom__link-dropdown {
  color: #141B2B;
  font-size: 15px;
  font-weight: 600;
  margin-right: 5px;
}
.header__mobile {
  padding: 10px 0;
  display: none;
  align-items: center;
  justify-content: space-between;
}
.header__mobile-logo {
  width: 125.035px;
  height: 26px;
}
.header__mobile-container {
  gap: 20px;
  display: flex;
  align-items: center;
}
.header__mobile-list {
  gap: 5px;
  display: flex;
  align-items: center;
}
.header__mobile-list__item-btn {
  padding: 8px;
  border-radius: 36px;
  background: #FFF;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.08);
}
.header__mobile-burger-menu {
  background: transparent;
}

@media (max-width: 480px) {
  .header {
    margin-bottom: 0;
  }
  .header__top, .header__bottom {
    display: none;
  }
  .header__mobile {
    display: flex;
  }
}
.dropdown-content {
  position: fixed;
  top: -100%;
  left: 50%;
  padding: 20px 20px 0 40px;
  width: 700px;
  border-radius: 8px;
  transition: top 0.3s ease;
  background-color: #ffffff;
  transform: translate(-50%, 0);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown-content:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(to top, rgba(137, 137, 137, 0.14), transparent);
  pointer-events: none;
  z-index: 1;
}
.dropdown-content__close-btn {
  width: 34px;
  height: 34px;
  background: transparent;
}
.dropdown-content__input {
  border: 0;
  width: 640px;
  padding: 13px 20px;
  border-radius: 4px;
  background: #F2F2F2;
  margin-bottom: 20px;
}
.dropdown-content__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.dropdown-content__header_title {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  margin-top: 20px;
}
.dropdown-content__main {
  width: 640px;
}
.dropdown-content__main__container_header {
  display: flex;
  gap: 24px;
  margin-bottom: 15px;
}
.dropdown-content__main__container_header__text {
  color: #BFBFBF;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
}
.dropdown-content__main__container_header__text--active {
  color: var(--main-blue, #248FEC);
  border-bottom: 2px solid var(--main-blue, #248FEC);
}
.dropdown-content__main__container_count {
  color: var(--sub-black-text, #575757);
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  margin-bottom: 15px;
}
.dropdown-content__main__container_count span {
  color: var(--black, #232323);
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  margin: 0 5px;
}
.dropdown-content__list-auto {
  gap: 12px;
  display: flex;
  width: 690px;
  height: 353px;
  overflow-y: scroll;
  flex-direction: column;
  scrollbar-color: blue;
  margin-bottom: 12px;
}
.dropdown-content__list-auto::-webkit-scrollbar {
  width: 10px;
}
.dropdown-content__list-auto::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5px;
}
.dropdown-content__list-auto_img {
  width: 100px;
  height: 61px;
}
.dropdown-content__list-auto__item {
  width: 680px;
  display: flex;
  justify-content: space-between;
}
.dropdown-content__list-auto__item_more {
  color: #FFF;
  font-size: 13px;
  font-weight: 700;
  line-height: 13px;
  height: 13px;
  margin: 12px 0;
  text-align: center;
  border-radius: 4px;
  padding: 12px 14px;
  background: var(--main-blue, #248FEC);
}
.dropdown-content__list-auto__item_title {
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  color: var(--black, #232323);
}
.dropdown-content__list-auto__item_subtitle {
  color: #797979;
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
}
.dropdown-content__list-auto__item_new {
  color: #FFF;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  padding: 2px 4px 3px;
  border-radius: 2px;
  background: var(--main-blue, #248FEC);
}
.dropdown-content__list-auto__item_discount {
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  padding: 2px 4px 3px;
  color: var(--black, #232323);
  border-radius: 2px;
  background: var(--yellow, #FBE200);
}
.dropdown-content__list-auto__item_price-info {
  margin: 13px 39px 13px 0;
}
.dropdown-content__list-auto__item_price-info_old {
  color: var(--black, #232323);
  font-size: 11px;
  font-weight: 400;
  line-height: 11px;
}
.dropdown-content__list-auto__item_price-info_old span {
  color: #DC0000;
  font-size: 12px;
  line-height: 12px;
  margin-right: 5px;
  text-decoration-line: line-through;
}
.dropdown-content__list-auto__item_price-info_new {
  color: var(--black, #232323);
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
}
.dropdown-content__list-auto__item_price-info_new span {
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  margin-right: 5px;
  color: var(--black, #232323);
}
.dropdown-content__list-auto__item_left-block {
  display: flex;
  align-items: center;
  gap: 10px;
}
.dropdown-content__list-auto__item_left-block__info__container {
  display: flex;
  gap: 2px;
  margin-bottom: 2px;
}
.dropdown-content__list-auto__item_right-block {
  display: flex;
}

.dropdown-content.active {
  top: 200px;
}

.navigation-list {
  width: 828px;
  display: flex;
  justify-content: space-between;
}
.navigation-list__item {
  font-size: 15px;
  font-weight: 600;
  color: #141B2B;
  position: relative;
  display: flex;
  justify-content: center;
}
.navigation-list__item:hover {
  cursor: pointer;
}
.navigation-list__item:hover .navigation-sublist-group {
  display: block;
}
.navigation-list__item:nth-child(2) .navigation-sublist__item-content {
  border-radius: 0px 0px 8px 0px;
}
.navigation-sublist {
  position: relative;
  box-sizing: border-box;
  box-shadow: 0px 34px 90px 0px rgba(0, 0, 0, 0.1);
}
.navigation-sublist-group {
  display: none;
  padding-top: 23px;
  width: 292px;
  position: absolute;
}
.navigation-sublist__item {
  padding: 14px 24px;
  display: flex;
  background-color: #fff;
  align-items: center;
  padding: 14px 24px;
}
.navigation-sublist__item:hover .navigation-sublist__item-content {
  display: block;
}
.navigation-sublist__item:hover .icon-arrow {
  transform: rotate(0);
}
.navigation-sublist__item:hover a {
  color: var(--main-blue, #248FEC);
}
.navigation-sublist__item a {
  transition: all 0.3s;
}
.navigation-sublist__item:first-child {
  padding-top: 19px;
}
.navigation-sublist__item:last-child {
  padding-bottom: 19px;
  border-radius: 0px 0px 0px 8px;
}
.navigation-sublist__item:not(:last-child) {
  border-bottom: 1px solid #E9E9E9;
}
.navigation-sublist__item .icon-arrow {
  transform: rotate(-90deg);
  transition: all 0.3s;
}
.navigation-sublist__item-img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.navigation-sublist__item-link {
  width: 190px;
  font-size: 14px;
  font-weight: 700;
  color: var(--black, #232323);
}
.navigation-sublist__item-content {
  z-index: 10;
  display: none;
  width: 825px;
  min-height: 381px;
  position: absolute;
  top: 0;
  left: 290px;
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 0px 0px 8px 8px;
  background: #FFF;
  box-shadow: 0px 34px 90px 0px rgba(0, 0, 0, 0.1);
}
.navigation-sublist__item-content_top {
  display: flex;
  margin-bottom: 25px;
}
.navigation-sublist__item-content_btn {
  display: flex;
  border-radius: 4px;
  padding: 10px 20px 10px 14px;
}
.navigation-sublist__item-content_btn:hover {
  transform: scale(1.02);
}
.navigation-sublist__item-content_btn:not(:last-child) {
  margin-right: 10px;
}
.navigation-sublist__item-content_btn--blue {
  background: var(--main-blue, #248FEC);
}
.navigation-sublist__item-content_btn--blue h4,
.navigation-sublist__item-content_btn--blue p {
  color: #FFF;
}
.navigation-sublist__item-content_btn--yellow {
  background: var(--yellow, #FBE200);
}
.navigation-sublist__item-content_btn--yellow h4,
.navigation-sublist__item-content_btn--yellow p {
  color: var(--black, #232323);
}
.navigation-sublist__item-content_btn img {
  margin-right: 8px;
  width: 30px;
  height: 30px;
}
.navigation-sublist__item-content_btn h4 {
  font-size: 14px;
  font-weight: 700;
}
.navigation-sublist__item-content_btn p {
  font-size: 12px;
  font-weight: 400;
}
.navigation-sublist__item-content_cars {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 18px;
}
.navigation-sublist__item-content_cars-item {
  display: flex;
  align-items: center;
}
.navigation-sublist__item-content_cars-item:hover {
  opacity: 0.5;
}
.navigation-sublist__item-content_cars-item img {
  margin-right: 6px;
  width: 35px;
  height: 29px;
}
.navigation-sublist__item-content_cars-item h4 {
  color: var(--black, #232323);
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  width: 100px;
  margin-bottom: 2px;
}
.navigation-sublist__item-content_cars-item p {
  color: var(--sub-black-text, #575757);
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
}
.navigation-sublist__item-content_title {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.navigation-sublist__item-content_title img {
  width: 34px;
  height: 34px;
  margin-right: 10px;
}
.navigation-sublist__item-content_title h2 {
  color: var(--main-blue, #248FEC);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
.navigation-sublist__item-content_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;
}
.navigation-sublist__item-content_item h3 {
  color: #000;
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
}
.navigation-sublist__item-content_item p {
  color: #707070;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.navigation-sublist__item-content_link {
  transition: all 0.3s;
}
.navigation-sublist__item-content_link:hover {
  opacity: 0.5;
}

.service-const__img {
  width: 100%;
  object-fit: cover;
  height: 300px;
  margin-bottom: 30px;
}
.service-const__title {
  color: #232323;
  font-size: 35px;
  font-weight: 700;
  line-height: 45px;
}
.service-const__title span {
  color: #248FEC;
}
.service-const__callback {
  color: #ffffff;
  padding: 30px 47px;
  border-radius: 8px;
  background: var(--gradient, linear-gradient(48deg, #2775B8 0%, #44A8FF 100%));
}
.service-const__callback__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}
.service-const__callback__subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 20px;
}
.service-const__callback__btn {
  width: 100%;
  padding: 19px 0;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #FBE200;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}
.service-const__callback__btn:hover {
  background-color: #FFF27E;
  box-shadow: 0px 4px 45px 0px rgba(78, 78, 78, 0.45);
}
.service-const__callback__btn img {
  width: 24px;
  height: 24px;
}
.service-const__callback__btn span {
  color: #232323;
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
}
.service-const__benefit-container {
  gap: 50px;
  display: flex;
}
.service-const__form {
  color: #ffffff;
  padding: 40px;
  border-radius: 8px;
  background: var(--gradient, linear-gradient(48deg, #2775B8 0%, #44A8FF 100%));
}
.service-const__form__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 5px;
}
.service-const__form__subtitle {
  width: 52%;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 25px;
}
.service-const__form__content {
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.service-const__form__select, .service-const__form__input {
  width: 457px;
  color: #969696;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  padding: 17px 20px;
  background: #ffffff;
  border: 1px solid #DFDFDF;
}
.service-const__form__select {
  width: 500px;
}
.service-const__form__btn {
  width: 25%;
  padding: 18px 0;
  color: #232323;
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
  border-radius: 4px;
  background-color: #FBE200;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}
.service-const__form__btn:hover {
  background-color: #FFF27E;
  box-shadow: 0px 4px 45px 0px rgba(78, 78, 78, 0.45);
}
.service-const__form__checkbox {
  width: 55%;
  gap: 8px;
  display: flex;
  align-items: flex-start;
}
.service-const__form__checkbox__text {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.service-const__form__bottom {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1094px) {
  .service-const__img {
    margin-bottom: 20px;
  }
  .service-const__title {
    font-size: 26px;
    line-height: 36px;
  }
  .service-const__callback {
    display: none;
  }
  .service-const__benefit-container {
    gap: 10px;
    flex-direction: column;
  }
  .service-const__form {
    padding: 25px 25px 30px 25px;
  }
  .service-const__form__title {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .service-const__form__subtitle {
    width: 100%;
    line-height: 22px;
  }
  .service-const__form__checkbox {
    width: 100%;
    gap: 8px;
    display: flex;
    align-items: flex-start;
  }
  .service-const__form__bottom {
    gap: 30px;
    flex-direction: column;
  }
  .service-const__form__btn {
    width: 50%;
    margin: 0 auto;
  }
}
@font-face {
  font-family: "Inter";
  src: url(../../fonts/static/Inter-Thin.ttf);
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../../fonts/static/Inter-ExtraLight.ttf);
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../../fonts/static/Inter-Light.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../../fonts/static/Inter-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../../fonts/static/Inter-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../../fonts/static/Inter-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../../fonts/static/Inter-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../../fonts/static/Inter-ExtraBlack.ttf);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../../fonts/static/Inter-Black.ttf);
  font-weight: 900;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter";
  font-style: normal;
}

ul {
  list-style: none;
}

button,
input {
  border: 0;
}

button,
a {
  cursor: pointer;
}

p {
  margin: 0;
}

.wrapper {
  width: 1660px;
  margin: 0 auto;
}
.wrapper__container {
  gap: 50px;
  display: flex;
}
.wrapper__left-block {
  width: 65%;
}
.wrapper__right-block {
  width: 30%;
}
.wrapper__top {
  gap: 15px;
  display: flex;
  flex-direction: column;
}
.wrapper__top-block {
  margin-bottom: 30px;
}
.wrapper__title-large, .wrapper__title-medium {
  font-weight: 700;
  color: #000000;
}
.wrapper__title-large span, .wrapper__title-medium span {
  color: #248FEC;
}
.wrapper__title-large {
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 10px;
}
.wrapper__title-medium {
  font-size: 35px;
  line-height: 45px;
}
.wrapper__subtitle {
  color: #000;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
}

@media (min-width: 1500px) and (max-width: 1700px) {
  .wrapper {
    width: 1450px;
  }
}
@media (min-width: 1301px) and (max-width: 1500px) {
  .wrapper {
    width: 1240px;
  }
}
@media (min-width: 1095px) and (max-width: 1300px) {
  .wrapper {
    width: 1090px;
  }
}
@media (max-width: 1094px) {
  .wrapper {
    width: 535px;
  }
  .wrapper__container {
    gap: 40px;
    flex-direction: column;
  }
  .wrapper__left-block, .wrapper__right-block {
    width: 100%;
  }
}
@media (min-width: 460px) and (max-width: 600px) {
  .wrapper {
    width: 450px;
  }
}
@media (min-width: 375px) and (max-width: 459px) {
  .wrapper {
    width: 345px;
  }
}
@media (min-width: 320px) and (max-width: 374px) {
  .wrapper {
    width: 320px;
  }
}
.big-title {
  color: #232323;
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
}
.big-title span {
  color: #248FEC;
}

.subtitle {
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  color: #232323;
}

.block-title {
  gap: 30px;
  display: flex;
  align-items: center;
}
.block-title__text-light, .block-title__text-dark {
  color: #232323;
  font-size: 45px;
  font-weight: 700;
  line-height: 55px;
}
.block-title__text-light {
  color: #ffffff;
}
.block-title__link-dark, .block-title__link-light {
  height: 14px;
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  padding: 14px 24px;
  border-radius: 4px;
  background-color: #FBE200;
  transition: color 0.5s ease, background-color 0.5s ease;
}
.block-title__link-dark:hover, .block-title__link-light:hover {
  color: #ffffff;
  background-color: #248FEC;
}
.block-title__link-light {
  color: #000000;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}
.block-title__link-light:hover {
  color: #000000;
  background-color: #FFF27E;
  box-shadow: 0px 4px 45px 0px rgba(78, 78, 78, 0.45);
}
.block-title__link-more {
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  width: 345px;
  display: none;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  border-radius: 4px;
  background: #FBE200;
  margin-bottom: 40px;
}

@media (max-width: 600px) {
  .big-title {
    font-size: 30px;
    line-height: 40px;
  }
  .block-title__text-light, .block-title__text-dark {
    font-size: 26px;
    line-height: 36px;
  }
  .block-title__link-dark, .block-title__link-light {
    display: none;
  }
  .block-title__link-more {
    display: block;
  }
}
@media (max-width: 345px) {
  .block-title__link-more {
    width: 320px;
  }
}
.logo {
  width: 165px;
  height: 34px;
}

.icon {
  width: 20px;
  height: 20px;
}

.number-list {
  gap: 18px;
  display: flex;
  padding-left: 20px;
  flex-direction: column;
}
.number-list__item {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding-left: 8px;
}
.number-list__item::marker {
  color: #248FEC;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.list-company {
  margin: 10px 0 30px;
  gap: 33px;
  display: flex;
  flex-wrap: wrap;
}
.list-company__item {
  gap: 15px;
  width: 300px;
  display: flex;
  padding: 20px;
  align-items: center;
  border-radius: 2px;
  background: #FBFBFB;
}
.list-company__item-img {
  width: 60px;
  height: 50px;
}
.list-company__item-info {
  gap: 5px;
  display: flex;
  flex-direction: column;
}
.list-company__item-info__title {
  color: #000000;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
}
.list-company__item-info__subtitle {
  color: #248FEC;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}

.title__middle {
  font-size: 35px;
  font-weight: 700;
  line-height: 45px;
  color: var(--black, #232323);
}
.title__middle span {
  color: #248FEC;
}
.title__big {
  width: 785px;
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  color: var(--black, #232323);
}
.title__big span {
  color: #248FEC;
}

.list-social {
  gap: 5px;
  width: 100px;
  display: flex;
  align-items: center;
}
.list-social__item {
  width: 30px;
  height: 30px;
}
.list-social__item-img {
  width: 100%;
  height: auto;
}

.btn-collapse,
.btn-read-more {
  display: flex;
  margin-top: 20px;
  align-items: center;
  background: transparent;
}
.btn-collapse span,
.btn-read-more span {
  font-size: 13px;
  font-weight: 400;
  line-height: 11px;
  margin-right: 5px;
  color: var(--deep-blue, #1E4D79);
}

.btn-read-more-color span {
  color: var(--main-blue, #248FEC);
}

.btn-collapse {
  display: none;
}
.btn-collapse__img {
  transform: rotate(180deg);
}

.block-contact {
  gap: 8px;
  color: #ffffff;
  display: flex;
  align-items: center;
  transition: color 0.5s ease;
}
.block-contact:hover {
  color: #248FEC;
}
.block-contact__icon {
  width: 18px;
  height: 18px;
}
.block-contact__icon-big {
  width: 20px;
  height: 20px;
}
.block-contact__text-default {
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  color: #575757;
}
.block-contact__text-dark, .block-contact__text-light {
  font-size: 15px;
  font-weight: 600;
  color: #000000;
}
.block-contact__text-light {
  color: #ffffff;
}

.btn {
  width: 100%;
}
.btn-blue {
  width: 100%;
  padding: 18px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  border-radius: 8px;
  background-color: #248FEC;
  box-shadow: 0px 14px 24px 0px rgba(36, 143, 236, 0.18);
  transition: color 0.5s ease, background-color 0.5s ease;
}
.btn-blue:hover {
  color: #000000;
  background-color: #FBE200;
}

.btn-showMore {
  display: none;
}

.taxiRentPage .wrapper__left-block {
  width: auto;
}
.taxiRentPage .selectionByParameters .carsGrid__list {
  grid-template-columns: repeat(4, 1fr);
}
.taxiRentPage .selectionByParameters__form .filter-form__container__select {
  width: 415px;
}
.taxiRentPage .selectionByParameters__form .filter-form__container__input {
  width: 208px;
}
.taxiRentPage .selectionByParameters__form .filter-form__buttons {
  justify-content: flex-start;
}
.taxiRentPage .service__list-benefit {
  max-height: 138px;
  overflow: hidden;
  transition: all 0.3s;
}

.rentPage .service__list-benefit {
  max-height: 138px;
  overflow: hidden;
  transition: all 0.3s;
}

@media (max-width: 480px) {
  .btn-showMore {
    display: block;
    width: 100%;
    color: var(--black, #232323);
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    border-radius: 4px;
    background: var(--yellow, #FBE200);
    padding: 23px 0;
    margin-top: 15px;
  }
}
.accordion__header {
  display: flex;
  cursor: pointer;
  align-items: center;
  padding-right: 22px;
  justify-content: space-between;
  background-color: transparent;
  transition: background-color 0.2s ease-out;
}
.accordion__header::after {
  content: "";
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  background-size: 1.25rem;
  background-repeat: no-repeat;
  transition: transform 0.2s ease-out;
  background-image: url(../../images/icons/components/accordion-arrow.svg);
}
.accordion__header:hover::after {
  filter: brightness(0) invert(1);
}
.accordion__content {
  cursor: default;
  padding: 24px 20px 30px;
  background: #ffffff;
}
.accordion__content__list {
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.accordion__content__list__item {
  width: 300px;
}
.accordion__content__list__item-title {
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
  color: #000000;
}
.accordion__content__list__item-subtitle {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #575757;
}
.accordion__content__list__item-link:hover .accordion__content__list__item-title {
  color: #248FEC;
}

.accordion__item_show .accordion__header::after,
.accordion__item_slidedown .accordion__header::after {
  transform: rotate(-180deg);
}

.accordion__item:not(.accordion__item_show) .accordion__body {
  display: none;
}

.additional-nav {
  gap: 30px;
  display: flex;
  flex-direction: column;
}
.additional-nav__title {
  color: #000000;
  font-size: 28px;
  font-weight: 700;
  line-height: 38px;
}
.additional-nav__list {
  gap: 5px;
  max-width: 510px;
  min-width: 345px;
  display: flex;
  flex-direction: column;
}
.additional-nav__list__item {
  border-radius: 4px;
  background-color: #FBFBFB;
  transition: background-color 0.5s ease;
}
.additional-nav__list__item-content {
  gap: 10px;
  display: flex;
  align-items: center;
  padding: 16px 20px;
}
.additional-nav__list__item-content-svg {
  width: 30px;
  height: 30px;
}
.additional-nav__list__item-content-svg path {
  fill: #248FEC;
  transition: fill 0.5s ease;
}
.additional-nav__list__item-content-text {
  color: #000000;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  transition: color 0.5s ease;
}
.additional-nav__list__item:hover {
  background: #248FEC;
}
.additional-nav__list__item:hover .additional-nav__list__item-content-text {
  color: #ffffff;
}
.additional-nav__list__item:hover .additional-nav__list__item-content-svg path {
  fill: #ffffff;
}

.active {
  background: #248FEC;
}
.active .additional-nav__list__item-content-text {
  color: #ffffff;
}
.active .additional-nav__list__item-content-svg path {
  fill: #ffffff;
}

.list-benefit {
  gap: 15px;
  display: flex;
  flex-direction: column;
}
.list-benefit__item {
  gap: 8px;
  display: flex;
}
.list-benefit__item-img {
  margin-top: 3px;
  width: 18px;
  height: 18px;
}
.list-benefit__item-text {
  color: #232323;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

@media (max-width: 1094px) {
  .list-benefit {
    gap: 10px;
  }
}
.services-technical__first-block, .services-technical__second-block, .services-technical__third-block {
  display: flex;
  flex-direction: column;
}
.services-technical__first-block {
  gap: 10px;
  margin-bottom: 50px;
}
.services-technical__second-block {
  gap: 30px;
  margin-bottom: 50px;
}
.services-technical__third-block {
  gap: 17px;
  margin-bottom: 50px;
}
.services-technical__fourth-block {
  margin-bottom: 70px;
}
.services-technical__callback {
  margin-bottom: 40px;
}

@media (max-width: 1094px) {
  .services-technical__first-block {
    margin-bottom: 40px;
  }
  .services-technical__second-block {
    gap: 15px;
    margin-bottom: 29px;
  }
  .services-technical__third-block {
    gap: 15px;
    margin-bottom: 40px;
  }
  .services-technical__fourth-block {
    margin-bottom: 0;
  }
}/*# sourceMappingURL=technical.css.map */