@import "../colors/colors.scss";
@import "../constants/constants.scss";
@import "../components/components.scss";
@import "../itc-slider/itc-slider.scss";

.newCars {
    margin-top: 70px;

    .wrapper__header {
        margin-bottom: 40px;
    }
}

.usedCars {
    margin-top: 70px;

    .wrapper__header {
        margin-bottom: 40px;
    }
}

.taxiCars {
    margin-top: 70px;

    .wrapper__header {
        margin-bottom: 40px;
    }

    .carsGrid__item {
        &-top {
            &_info {
                justify-content: flex-end;
            }
        }

        &-bottom {
            display: flex;
            justify-content: space-between;

            &_right {
                width: 258px;
            }
        }

        &-price {
            display: flex;
            flex-direction: column;
        }
    }
}

.carsGrid {
    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 40px;
    }

    &__btn-seeMore {
        display: none;
        width: 100%;
        padding: 20px 0;
        border-radius: 4px;
        background-color: #FBE200;
        margin-top: 20px;
        color: #000;
        font-size: 14px;
        font-weight: 600;
        line-height: 14px;
        transition: all .3s;

        &:hover {
            background-color: #248fec;
            color: #fff;
        }
    }

    &__item {
        width: 390px;

        &-top {
            position: relative;

            &_info {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                position: absolute;
                top: 15px;
                left: 15px;
                right: 15px;
                z-index: 1;
            }

            &_button {
                padding: 8px;
                border-radius: 50%;
                background-color: #FFF;
                width: 32px;
                height: 32px;
                transition: all .3s;

                &:not(:last-child) {
                    margin-right: 5px;
                }

                &:hover {
                    transform: scale(1.2);
                }
            }

            &_slider {
                .itc-slider {
                    width: 100%;
                }

                .itc-slider-indicators {
                    color: transparent;
                    bottom: 15px;
                    left: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }

                .itc-slider-indicator {
                    border-top: 0;
                    border-bottom: 0;
                }
            }

        }

        &-bottom {
            padding: 10px;
            padding-bottom: 0;
        }

        &-label {
            border-radius: 2px;
            font-size: 12px;
            line-height: 12px;
            padding: 3px 8px;
            font-weight: 500;

            &:not(:last-child) {
                margin-right: 6px;
            }
        }

        &-labelNew {
            background: #248FEC;
            color: #FFF;
        }

        &-labelDiscount {
            color: #232323;
            background: #FBE200;
        }

        &-title {
            color: #232323;
            font-size: 20px;
            font-weight: 700;
            line-height: 30px;
        }

        &-description {
            color: #797979;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
        }

        &-moreInfo {
            margin-top: 5px;
            font-size: 13px;
            font-weight: 500;
            line-height: 18px;
            color: #232323;
        }

        &-tags {
            margin-top: 8px;
            display: flex;

            &_btn {
                font-size: 11px;
                line-height: 11px;
                background-color: transparent;
                display: flex;
                align-items: center;

                img {
                    width: 16px;
                    height: 16px;
                    margin-right: 5px;
                }

                .more {
                    display: block;
                    margin-right: 5px;
                }

                .textBlue {
                    font-weight: 700;
                    color: #248FEC;
                }

            }
        }

        &-tag {
            display: block;
            color: #000;
            font-size: 11px;
            font-weight: 400;
            line-height: 11px;
            border-radius: 2px;
            background: #FBE200;
            padding: 6px;

            &:not(:last-child) {
                margin-right: 4px;
            }
        }

        &-price {
            margin-top: 10px;
            display: flex;
            align-items: center;
            color: #232323;

            &_description {
                margin-bottom: 2px;
                color: #248FEC;
                font-size: 11px;
                font-weight: 400;
                line-height: 11px;
            }
        }

        &-oldPrice {
            margin-right: 8px;
            font-size: 14px;
            font-weight: 400;
            line-height: 14px;

            &_digit {
                color: #DC0000;
                text-decoration: line-through;
            }
        }

        &-newPrice {
            font-size: 18px;
            font-weight: 700;
            line-height: 28px;
        }

    }
}

.model {
    margin-top: 50px;

    &-nav {
        display: flex;
        overflow-x: auto;
        white-space: nowrap;
        margin-bottom: 27px;

        &::-webkit-scrollbar {
            display: none;
        }

        &__item {
            flex-shrink: 0;
            cursor: pointer;
            font-size: 15px;
            margin-right: 8px;
            padding: 14px 30px;
            border-radius: 4px;
            background: #FAFAFA;
            color: var(--sub-black-text, #575757);

            &--active {
                background: var(--main-blue, #248FEC);
                color: #FFF;
            }
        }
    }

    &-list {
        gap: 20px;
        display: flex;
        flex-wrap: wrap;

        &__item {
            gap: 10px;
            display: flex;
            border-radius: 4px;
            background: #FBFBFB;
            padding: 17px 15px 17px 20px;

            &-img {
                width: 60px;
                height: 36px;
            }

            &-info {
                width: 115px;

                &__title {
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 18px;
                    color: var(--black, #232323);
                    margin: 0 0 4px;
                }

                &__subtitle {
                    margin: 0;
                    font-size: 11px;
                    line-height: 12px;
                    color: var(--main-blue, #248FEC);
                }
            }

            &:hover {
                cursor: pointer;
                background: #FFF;
                box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.06);

                & .model-list__item-info__title {
                    color: var(--main-blue, #248FEC);
                }

                & .model-list__item-info__subtitle {
                    color: var(--sub-black-text, #575757);
                }
            }
        }
    }
}

.recommended {
    margin: 70px auto;

    &__list {
        margin-top: 40px;
        gap: 35px;
        display: flex;
        flex-wrap: wrap;

        &__item {
            width: 530px;

            &-promo {
                padding: 30px 70px;
                border-radius: 4px;
                background: #FBFBFB;
                margin-bottom: 15px;

                &__img {
                    width: 100%;
                    height: auto;
                }
            }

            &-info {
                &__title {
                    color: #000;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 34px;
                }

                &__subtitle {
                    color: var(--main-blue, #248FEC);
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 20px;
                }
            }
        }
    }
}

.video-reviews {
    gap: 30px;
    display: flex;
    margin: 90px auto;
    flex-direction: column;

    &__list {
        gap: 30px;
        display: flex;
        flex-wrap: wrap;

        &__item {
            gap: 15px;
            width: 815px;
            display: flex;
            flex-direction: column;

            &-info {
                &__title {
                    font-size: 14px;
                    line-height: 18px;
                    color: var(--sub-black-text, #575757);
                }

                &__subtitle {
                    width: 700px;
                    font-size: 30px;
                    font-weight: 700;
                    line-height: 40px;
                    color: #141B2B;
                }
            }
        }
    }
}

@media (max-width: 480px) {

    .carsGrid {
        &__list {
            display: flex;
            flex-direction: column;
            grid-row-gap: 20px;
        }

        &__btn-seeMore {
            display: block;
        }

        &__item {
            width: 100%;

            &:nth-child(n+5) {
                display: none;
            }

            &-top {
                &_info {
                    left: 10px;
                    right: 10px;
                    top: 10px;
                }
            }

            &-bottom {
                padding-left: 0;
                padding-right: 0;
                padding-top: 8px;
            }

            &-title {
                font-size: 15px;
                line-height: 24px;
            }

            &_description {
                font-size: 12px;
                line-height: 18px;
            }

            &-oldPrice {
                font-size: 13px;
                line-height: 13px;
            }

            &-newPrice {
                font-size: 16px;
                line-height: 16px;
            }

            &-moreInfo {
                margin-top: 2px;
                font-size: 12px;
                font-weight: 700;
            }

            &-tags {
                margin-top: 5px;

                &_btn {
                    font-size: 10px;
                    line-height: 10px;
                }
            }

            &-tag {
                font-size: 10px;
                line-height: 10px;
            }
        }

        .itc-slider-indicator {
            display: block;
        }
    }

    .newCars {
        margin-top: 40px;

        .wrapper__header {
            margin-bottom: 25px;
        }

        .carsGrid {
            &__item {
                &-bottom {
                    display: flex;
                    justify-content: space-between;

                    &_right {
                        width: 238px;
                    }
                }

                &-price {
                    margin-top: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                }

                &-oldPrice {
                    margin-right: 0;
                    margin-bottom: 5px;
                }
            }
        }
    }

    .usedCars {
        margin-top: 40px;

        .wrapper__header {
            margin-bottom: 25px;
        }
    }

    .taxiCars {
        margin-top: 40px;

        .wrapper__header {
            margin-bottom: 25px;
        }
    }

    .recommended {
        margin: 40px auto;

        &__list {
            margin-top: 25px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 9px;
            grid-row-gap: 10px;

            &__item {
                width: 100%;

                &-promo {
                    padding: 10px 23px;
                    margin-bottom: 5px;

                    &__img {
                        width: 100%;
                        height: auto;
                    }
                }

                &-info {
                    &__title {
                        font-size: 14px;
                        line-height: 20px;
                        font-weight: 500;
                    }

                    &__subtitle {
                        font-size: 11px;
                        line-height: 16px;
                    }
                }
            }
        }
    }

    .video-reviews {
        gap: 25px;
        margin: 40px auto;

        &__list {
            flex-direction: column;

            &__item {
                gap: 15px;
                width: 100%;
                flex-direction: column;

                &-info {
                    &__title {
                        font-size: 12px;
                        line-height: 15px;
                    }

                    &__subtitle {
                        width: 100%;
                        font-size: 18px;
                        line-height: 28px;
                    }
                }
            }
        }
    }

    .model {
        margin-top: 20px;

        &-list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 5px;

            &__item {
                gap: 0;
                align-items: center;
                padding: 12px 15px;
                flex-direction: column;

                &:not(:nth-child(-n+10)) {
                    display: none;
                }

                &-img {
                    width: 80px;
                    height: 32px;
                    display: block;
                    margin-bottom: 5px;
                }

                &-info {
                    width: 100%;
                    text-align: center;

                    &__title {
                        margin-bottom: 5px;
                    }
                }
            }
        }

        &-nav {
            margin-bottom: 20px;

            &__item {
                padding: 12px 18px;
            }
        }
    }
}