@import "../colors/colors.scss";

.system {
    &__not-data {
        height: 50vh;
        color: $black;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        &__title {
            font-size: 22px;
            font-weight: 700;
            line-height: 28px;
            margin-bottom: 10px;
            span {
                color: $blue;
            }
        }
        &__subtitle {
            width: 472px;
            font-size: 15px;
            font-weight: 400;
            line-height: 24px;
            text-align: center;
        }
    }
}

@media (max-width: 480px) {
    .system {
        &__not-data__subtitle {
            width: 345px;
        }
    }
}