@import "../../colors/colors.scss";
@import "../../../common/main-components/button/button.scss";

.model {
    &-nav {
        display: flex;
        overflow-x: auto;
        white-space: nowrap;
        margin-bottom: 27px;

        &::-webkit-scrollbar {
            display: none;
        }

        &__item {
            flex-shrink: 0;
            cursor: pointer;
            font-size: 15px;
            margin-right: 8px;
            padding: 14px 30px;
            border-radius: 4px;
            background: #FAFAFA;
            color: var(--sub-black-text, #575757);

            &--active {
                background: var(--main-blue, #248FEC);
                color: #FFF;
            }
        }
    }
    &-card {
        gap: 10px;
        display: flex;
        border-radius: 4px;
        background: $gray;
        &-info {
            margin: 17px 15px 17px 20px;
            &__title {
                font-size: 14px;
                font-weight: 700;
                line-height: 18px;
                color: $main-black;
                margin-bottom: 4px;
            }

            &__subtitle {
                font-size: 11px;
                line-height: 12px;
                color: $main-black;
            }
        }

        &:hover {
            cursor: pointer;
            background: $white;
            box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.06);

            & .model-card-info__title {
                color: $main-blue;
            }

            & .model-card-info__subtitle {
                color: $sub-black;
            }
        }
    }
    &-list {
        gap: 20px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &__item {
            width: 15%;
        }
    }
    &-see-more {
        width: 240px;
        display: block;
        margin: 50px auto 0;
        text-align: center;
        padding: 20px 0;
        font-weight: 600;
        line-height: 15px;
    }
}

@media (max-width: 1300px) {
    .model {
        &-list {
            gap: 20px 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            &__item {
                width: 20%;
            }
        }
    }
}