//colors
$white: #ffffff;
$black: #000000;
$gray: #FBFBFB;
$grey: #DADADA;
$yellow: #FFF27E;

$main-red: #E20000;
$main-blue: #248FEC;
$main-black: #232323;
$main-yellow: #FBE200;
$main-orange: #E5740B; 

$sub-black: #575757;
$sub-white: #FBFBFB;
$sub-blue: #44A8FF;

$deep-blue: #1E4D79;

//backgrounds

$footer-background: #152A53;

//borders



//box-shadows