//colors
$white: #ffffff;
$black: #000000;
$gray: #FBFBFB;
$yellow: #FFF27E;

$main-red: #E20000;
$main-blue: #248FEC;
$main-black: #232323;
$main-yellow: #FBE200;
$main-orange: #E5740B; 

$sub-black: #575757;
$sub-white: #FBFBFB;

$deep-blue: #1E4D79;

//borders



//box-shadows