@import "../../../colors/colors.scss";

.promotion-card {
    position: relative;
    &__top {
        top: 20px;
        left: 20px;
        position: absolute;
    }
    &__bottom {
        left: 20px;
        bottom: 25px;
        position: absolute;
        &-date {
            color: $yellow;
            font-size: 13px;
            font-weight: 400;
            line-height: 18px;
        }
        &-title {
            color: $white;
            font-size: 20px;
            font-weight: 700;
            line-height: 30px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
        }
        &-subtitle {

        }
    }
}