@import "../../header/header.scss";
@import "../../footer/footer.scss";
@import "../../pagination/style.scss";
@import "../../constants/constants.scss";
@import "../../main-cards/constants/style.scss";
@import "../../main-cards/promotion-card/style.scss";
@import "../../main-cards/new-product-card/style.scss";

.news {
    &__first-block, &__second-block, &__third-block {
        display: flex;
        flex-direction: column;
    }
    &__first-block {
        gap: 30px;
        padding-bottom: 40px;
    }
    &__second-block, &__third-block {
        gap: 40px;
        border: 0;
    }
    &__second-block {
        margin-bottom: 90px;
    }
}