@import "../colors/colors.scss";

@font-face {
    font-family: 'Inter';
    src: url(../../../fonts/static/Inter-Thin.ttf);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url(../../../fonts/static/Inter-ExtraLight.ttf);
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url(../../../fonts/static/Inter-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url(../../../fonts/static/Inter-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url(../../../fonts/static/Inter-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url(../../../fonts/static/Inter-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url(../../../fonts/static/Inter-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url(../../../fonts/static/Inter-ExtraBlack.ttf);
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url(../../../fonts/static/Inter-Black.ttf);
    font-weight: 900;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5, 
h6,
p {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    cursor: pointer;
    text-decoration: none;
}

button {
    border: 0;
    cursor: pointer;
}

input {
    padding: 0;
    border: 0;
}

.wrapper {
    width: 87%;
    margin: 0 auto;
    &__container {
        display: flex;
        justify-content: space-between;
    }
    &__left {
        width: 67%;
    }
    &__right {
        width: 30%;
    }
}

.block-title {
    gap: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    &__text-white, &__text-black {
        font-size: 45px;
        font-weight: 700;
        line-height: 55px;
    }
    &__text-white {
        color: $white;
    }
    &__text-black {
        color: $main-black;
    }
    &__link-light, &__link-dark, &__link-more {
        font-size: 14px;
        font-weight: 600;
        line-height: 14px;
        text-align: center;
        background-color: $main-yellow;
        transition: color 0.5s ease, background-color 0.5s ease;
    }
    &__link-light, &__link-dark {
        width: 138px;
        padding: 14px 0;
        color: $main-black;
    }
    &__link-more {
        width: 100%;
        display: none;
        padding: 20px 0;
        margin-top: 20px;
    }
    &__link-more:hover, &__link-dark:hover {
        color: $white;
        background-color: $main-blue;
    }
    &__link-light {
        transition: background-color 0.5s ease, box-shadow 0.5s ease;
    }
    &__link-light:hover {
        background-color: $yellow;
        box-shadow: 0px 4px 45px 0px rgba(78, 78, 78, 0.45);
    }
}

.big-title {
    color: $main-black;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    & span {
        color: $main-blue;
    }
}

.subtitle {
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    color: $main-black;
}

.block-contact {
    gap: 8px;
    color: $white;
    display: flex;
    align-items: center;
    transition: color 0.5s ease;

    &:hover {
        color: $main-blue;
    }

    &__icon {
        width: 18px;
        height: 18px;
    }

    &__icon-big {
        width: 20px;
        height: 20px;
    }

    &__text-default {
        font-size: 12px;
        font-weight: 300;
        line-height: 18px;
        color: $sub-black;
    }

    &__text-dark,
    &__text-light {
        font-size: 15px;
        font-weight: 600;
        color: $main-black;
    }

    &__text-light {
        color: $white;
    }
}

.list-social {
    gap: 5px;
    width: 100px;
    display: flex;
    align-items: center;

    &__item {
        width: 30px;
        height: 30px;

        &-img {
            width: 100%;
            height: auto;
        }
    }
}

.btn-collapse,
.btn-read-more {
    display: flex;
    margin-top: 20px;
    align-items: center;
    background: transparent;

    span {
        font-size: 13px;
        font-weight: 400;
        line-height: 11px;
        margin-right: 5px;
        color: var(--deep-blue, #1E4D79);
    }
}

.btn-read-more-color{
    span{
        color: var(--main-blue, #248FEC);
    }
}

.btn-collapse {
    display: none;

    &__img {
        transform: rotate(180deg);
    }
}

@media (min-width: 1100px) and (max-width: 1300px) {
    .wrapper {
        &__left {
            width: 57%;
        }
        &__right {
            width: 40%;
        }
    }
}

@media (max-width: 1100px) {
    .wrapper {
        &__container {
            gap: 40px;
            flex-direction: column;
        }
        &__left, &__right {
            width: 100%;
        }
    }
    .big-title {
        font-size: 30px;
        line-height: 40px;
    }
    .block-title {
        margin-bottom: 25px;
        &__text-white, &__text-black {
            font-size: 26px;
            line-height: 36px;
        }
        &__link-dark, &__link-light {
            display: none;
        }
        &__link-more {
            display: block;
        }
    }
}