@charset "UTF-8";
@font-face {
  font-family: "Inter";
  src: url(../../fonts/static/Inter-Thin.ttf);
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../../fonts/static/Inter-ExtraLight.ttf);
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../../fonts/static/Inter-Light.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../../fonts/static/Inter-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../../fonts/static/Inter-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../../fonts/static/Inter-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../../fonts/static/Inter-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../../fonts/static/Inter-ExtraBlack.ttf);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../../fonts/static/Inter-Black.ttf);
  font-weight: 900;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter";
  font-style: normal;
}

ul {
  list-style: none;
}

button,
input {
  border: 0;
}

button,
a {
  cursor: pointer;
}

p {
  margin: 0;
}

.logo {
  width: 165px;
  height: 34px;
}

.icon {
  width: 20px;
  height: 20px;
}

.video-container {
  width: 100%;
  height: 100%;
}

.video {
  width: 1100px;
  height: auto;
  border-radius: 4px;
}

.number-list {
  gap: 18px;
  display: flex;
  padding-left: 20px;
  flex-direction: column;
}
.number-list__item {
  color: #232323;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding-left: 8px;
}
.number-list__item::marker {
  color: #248FEC;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.list-company {
  margin: 10px 0 30px;
  gap: 33px;
  display: flex;
  flex-wrap: wrap;
}
.list-company__item {
  gap: 15px;
  width: 300px;
  display: flex;
  padding: 20px;
  align-items: center;
  border-radius: 2px;
  background: #FBFBFB;
}
.list-company__item-img {
  width: 60px;
  height: 50px;
}
.list-company__item-info {
  gap: 5px;
  display: flex;
  flex-direction: column;
}
.list-company__item-info__title {
  color: #232323;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
}
.list-company__item-info__subtitle {
  color: #248FEC;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}

.title__middle {
  font-size: 35px;
  font-weight: 700;
  line-height: 45px;
  color: var(--black, #232323);
}
.title__middle span {
  color: #248FEC;
}
.title__big {
  width: 785px;
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  color: var(--black, #232323);
}
.title__big span {
  color: #248FEC;
}

.list-social {
  gap: 5px;
  width: 100px;
  display: flex;
  align-items: center;
}
.list-social__item {
  width: 30px;
  height: 30px;
}
.list-social__item-img {
  width: 100%;
  height: auto;
}

.btn-collapse,
.btn-read-more {
  display: flex;
  margin-top: 20px;
  align-items: center;
  background: transparent;
}
.btn-collapse span,
.btn-read-more span {
  font-size: 13px;
  font-weight: 400;
  line-height: 11px;
  margin-right: 5px;
  color: var(--deep-blue, #1E4D79);
}

.btn-collapse {
  display: none;
}
.btn-collapse__img {
  transform: rotate(180deg);
}

.block-contact {
  gap: 8px;
  color: #ffffff;
  display: flex;
  align-items: center;
  transition: color 0.5s ease;
}
.block-contact:hover {
  color: #248FEC;
}
.block-contact__icon {
  width: 18px;
  height: 18px;
}
.block-contact__icon-big {
  width: 20px;
  height: 20px;
}
.block-contact__text-default {
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  color: #575757;
}
.block-contact__text-dark, .block-contact__text-light {
  font-size: 15px;
  font-weight: 600;
  color: #232323;
}
.block-contact__text-light {
  color: #ffffff;
}

.btn {
  width: 100%;
}
.btn-blue {
  width: 100%;
  padding: 18px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  border-radius: 8px;
  background-color: #248FEC;
  box-shadow: 0px 14px 24px 0px rgba(36, 143, 236, 0.18);
  transition: color 0.5s ease, background-color 0.5s ease;
}
.btn-blue:hover {
  color: #232323;
  background-color: #FBE200;
}

.btn-showMore {
  display: none;
}

@media (max-width: 480px) {
  .btn-showMore {
    display: block;
    width: 100%;
    color: var(--black, #232323);
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    border-radius: 4px;
    background: var(--yellow, #FBE200);
    padding: 23px 0;
    margin-top: 15px;
  }
}
.wrapper {
  width: 1660px;
  margin: 0 auto;
}
.wrapper__header {
  gap: 30px;
  display: flex;
  align-items: center;
}
.wrapper__header-title, .wrapper__header-title-light {
  font-size: 45px;
  font-weight: 700;
  line-height: 55px;
  color: #000000;
}
.wrapper__header-title-light {
  color: #ffffff;
}
.wrapper__header-link, .wrapper__header-link-more, .wrapper__header-link-light {
  height: 14px;
  color: #232323;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  padding: 14px 24px;
  border-radius: 4px;
  background-color: #FBE200;
  transition: color 0.5s ease, background-color 0.5s ease;
}
.wrapper__header-link:hover, .wrapper__header-link-more:hover, .wrapper__header-link-light:hover {
  color: #ffffff;
  background-color: #248FEC;
}
.wrapper__header-link-light {
  color: #232323;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}
.wrapper__header-link-light:hover:hover {
  color: #232323;
  background-color: #FFF27E;
  box-shadow: 0px 4px 45px 0px rgba(78, 78, 78, 0.45);
}
.wrapper__header-link-more {
  display: none;
  padding: 20px 0;
  text-align: center;
}
.wrapper__container {
  gap: 50px;
  display: flex;
}
.wrapper__left-block {
  width: 1100px;
}
.wrapper__right-block {
  width: 510px;
}
.wrapper__top {
  gap: 15px;
  display: flex;
  flex-direction: column;
}
.wrapper__title-large, .wrapper__title-medium {
  font-weight: 700;
  color: #232323;
}
.wrapper__title-large span, .wrapper__title-medium span {
  color: #248FEC;
}
.wrapper__title-large {
  font-size: 50px;
  line-height: 60px;
}
.wrapper__title-medium {
  font-size: 35px;
  line-height: 45px;
}
.wrapper__subtitle {
  color: #000;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
}

.filter-form__container {
  gap: 0;
  display: flex;
  flex-wrap: wrap;
}
.filter-form__container__input {
  border: 0;
  width: 167px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  padding: 17px 20px;
  color: #969696;
  background: #FFF;
  border-right: 1px solid #DFDFDF;
  border-bottom: 1px solid #DFDFDF;
}
.filter-form__container__select {
  width: 415px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  padding: 17px 20px;
  color: #969696;
  background: #FFF;
  border: 1px solid #DFDFDF;
}
.filter-form__buttons {
  display: flex;
  align-items: center;
  margin: 25px 0 50px;
}
.filter-form__buttons-settings {
  width: 262px;
  display: flex;
  justify-content: space-between;
  margin-right: 448px;
}
.filter-form__buttons-settings__button {
  display: flex;
  align-items: center;
  background: transparent;
}
.filter-form__buttons-settings__button-img {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}
.filter-form__buttons-settings__button-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--black, #232323);
}
.filter-form__buttons-btn-show {
  padding: 18px 34px;
  color: var(--black, #232323);
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  border-radius: 4px;
  background: var(--yellow, #FBE200);
}

.new-products {
  padding: 70px 0;
  margin-bottom: 50px;
  border-bottom: 1px solid #ECECEC;
  background: linear-gradient(180deg, var(--main-blue, #248FEC) 65%, transparent 35%);
}
.new-products__title {
  display: flex;
  align-items: center;
  margin: 70px 0 40px;
}
.new-products__title_text {
  color: #FFF;
  font-size: 45px;
  font-weight: 700;
  line-height: 55px;
  margin: 0 30px 0 0;
}
.new-products__title_link {
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  padding: 14px 24px;
  border-radius: 4px;
  background: #FBE200;
  color: var(--black, #232323);
  box-shadow: 0px 4px 45px 0px rgba(251, 226, 0, 0.25);
}
.new-products__title_link:hover {
  background: #FFF27E;
  box-shadow: 0px 4px 45px 0px rgba(78, 78, 78, 0.45);
}
.new-products__list {
  margin-top: 40px;
  display: flex;
  gap: 30px;
}
.new-products__list__item {
  width: 535px;
  height: 290px;
  cursor: pointer;
  position: relative;
}
.new-products__list__item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  pointer-events: none;
  border-radius: 4px;
  background: linear-gradient(196deg, rgba(0, 0, 0, 0) 0%, #100 100%), lightgray 50%/cover no-repeat;
}
.new-products__list__item-img:hover {
  background: linear-gradient(189deg, rgba(0, 0, 0, 0) 0%, #100 100%), lightgray 50%/cover no-repeat;
}
.new-products__list__item-info {
  left: 20px;
  bottom: 20px;
  position: absolute;
}
.new-products__list__item-info__title {
  color: #FBE200;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 5px;
}
.new-products__list__item-info__subtitle {
  width: 400px;
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.services {
  background: #FBFBFB;
  padding: 70px 0;
}
.services__list {
  gap: 74px 126px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
}
.services__list__item {
  gap: 15px;
  width: 320px;
  display: flex;
}
.services__list__item-img {
  width: 45px;
  height: 45px;
}
.services__list__item-info__title {
  color: var(--black, #232323);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
.services__list__item-info__subtitle {
  color: #707070;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.promotions {
  margin-top: 40px;
}
.promotions-list {
  gap: 30px;
  display: flex;
  margin-top: 40px;
}
.promotions-list__item {
  width: 535px;
  cursor: pointer;
  position: relative;
}
.promotions-list__item-img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  pointer-events: none;
}
.promotions-list__item-header {
  gap: 5px;
  top: 20px;
  left: 20px;
  color: #FFF;
  display: flex;
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}
.promotions-list__item-header__date {
  padding: 8px 10px;
  border-radius: 2px;
  background: var(--main-blue, #248FEC);
  box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.18);
}
.promotions-list__item-header__promo {
  padding: 8px 10px;
  border-radius: 2px;
  background: #E20000;
  box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.18);
}
.promotions-list__item-header__special-price {
  padding: 8px 10px;
  border-radius: 2px;
  background: #E5740B;
  box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.18);
}
.promotions-list__item-footer {
  gap: 5px;
  left: 20px;
  bottom: 25px;
  width: 480px;
  color: #ffffff;
  display: flex;
  position: absolute;
  flex-direction: column;
}
.promotions-list__item-footer__title, .promotions-list__item-footer__subtitle {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.promotions-list__item-footer__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
.promotions-list__item-footer__subtitle {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}
.promotions-list__item-footer__date {
  color: #FBE200;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.feedback {
  margin-top: 30px !important;
}
.feedback__container {
  display: flex;
  border-radius: 4px;
  overflow: hidden;
}
.feedback__left-block {
  color: #ffffff;
  background-size: 100%;
  padding: 61px 119px 60px 70px;
  background-image: url(/images/feedback-fon.svg);
  background-repeat: no-repeat;
  background-color: #000;
  background-size: cover;
}
.feedback__left-block-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 5px;
}
.feedback__left-block-title span {
  color: #248FEC;
}
.feedback__left-block-subtitle {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}
.feedback__right-block {
  background: black;
  padding: 63px 70px 43px 25px;
}
.feedback__right-block-form {
  width: 928px;
  display: flex;
  justify-content: space-between;
}
.feedback__right-block-form__input {
  margin-right: 10px;
  width: 326px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding: 15px 24px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.15);
  border: 0;
}
.feedback__right-block-form__input::placeholder {
  color: #ffffff;
}
.feedback__right-block-form__button {
  color: #FFF;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  padding: 15px 44px;
  border-radius: 4px;
  background: var(--main-blue, #248FEC);
}
.feedback__right-block-form__button--mobile {
  display: none;
}
.feedback__right-block-checkbox {
  display: flex;
  justify-content: flex-end;
}
.feedback__right-block-checkbox input {
  display: none;
}
.feedback__right-block-checkbox label {
  margin-top: 15px;
  color: #DBDBDB;
  text-align: right;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}
.feedback__right-block-checkbox label a {
  color: #44A8FF;
}

.seo-info {
  padding: 70px 0;
  margin-top: 70px;
  background: #FBFBFB;
}
.seo-info__container {
  max-width: 1200px;
}
.seo-info__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  margin-bottom: 10px;
  color: var(--deep-blue, #1E4D79);
}
.seo-info__subtitle {
  color: #232323;
  max-height: 205px;
  overflow: hidden;
  font-size: 15px;
  font-weight: 300;
  line-height: 26px;
  transition: max-height 0.5s ease;
}

.dealerships-list {
  gap: 47px;
  display: flex;
  flex-wrap: wrap;
}
.dealerships-list__item {
  width: 380px;
  border-radius: 8px;
}
.dealerships-list__item-img {
  width: 100%;
  height: 215px;
}
.dealerships-list__item-info {
  background: #FFF;
  padding: 15px 24px 30px;
  border: 1px solid #F4F4F4;
  box-shadow: 0px 14px 90px 0px rgba(0, 0, 0, 0.06);
}
.dealerships-list__item-info__city {
  color: #248FEC;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 2px;
}
.dealerships-list__item-info__title {
  color: #232323;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
.dealerships-list__item-info__subtitle {
  color: #575757;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 10px;
}
.dealerships-list__item-info__text-group {
  gap: 5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.dealerships-list__item-info__text {
  color: #575757;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}
.dealerships-list__item-info__text span {
  color: #232323;
  margin-left: 5px;
}
.dealerships-list__item-info__number {
  margin-bottom: 25px;
}

.additional-nav {
  gap: 30px;
  display: flex;
  flex-direction: column;
}
.additional-nav__title {
  color: #000;
  font-size: 28px;
  font-weight: 700;
  line-height: 38px;
}
.additional-nav__list {
  gap: 5px;
  max-width: 510px;
  min-width: 345px;
  display: flex;
  flex-direction: column;
}
.additional-nav__list__item {
  border-radius: 4px;
  background-color: #FBFBFB;
  transition: background-color 0.5s ease;
}
.additional-nav__list__item-content {
  gap: 10px;
  display: flex;
  align-items: center;
  padding: 16px 20px;
}
.additional-nav__list__item-content-svg {
  width: 30px;
  height: 30px;
}
.additional-nav__list__item-content-svg path {
  fill: #248FEC;
  transition: fill 0.5s ease;
}
.additional-nav__list__item-content-text {
  color: #232323;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  transition: color 0.5s ease;
}
.additional-nav__list__item:hover {
  cursor: pointer;
  background: #248FEC;
}
.additional-nav__list__item:hover .additional-nav__list__item-content-text {
  color: #ffffff;
}
.additional-nav__list__item:hover .additional-nav__list__item-content-svg path {
  fill: #ffffff;
}

@media (max-width: 480px) {
  .wrapper {
    width: 92%;
  }
  .wrapper__header {
    gap: 0;
  }
  .wrapper__header-title {
    font-size: 26px;
    line-height: 36px;
  }
  .wrapper__header-link {
    display: none;
  }
  .wrapper__header-link-more {
    display: block;
  }
  .wrapper__container {
    gap: 0;
    flex-direction: column;
  }
  .wrapper__left-block, .wrapper__right-block {
    width: 100%;
  }
  .wrapper__title-large {
    font-size: 30px;
    line-height: 60px;
  }
  .wrapper__title-medium {
    font-size: 26px;
    line-height: 36px;
  }
  .new-products {
    padding: 40px 0 0 0;
    border-bottom: none;
  }
  .new-products__list {
    margin-top: 25px;
    flex-direction: column;
    gap: 10px;
  }
  .new-products__list__item {
    width: 100%;
    height: 187px;
  }
  .new-products__list__item-info {
    left: 15px;
    bottom: 15px;
  }
  .new-products__list__item-info__title {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 0;
  }
  .new-products__list__item-info__subtitle {
    width: 100%;
    font-size: 16px;
    line-height: 30px;
  }
  .new-products .wrapper__header-title-light {
    font-size: 26px;
    line-height: 36px;
  }
  .services {
    padding: 40px 0;
  }
  .services__list {
    gap: 30px;
    flex-direction: column;
    margin-top: 25px;
  }
  .services__list__item {
    width: 100%;
    align-items: center;
  }
  .services__list__item-img {
    width: 34px;
    height: 34px;
  }
  .services__list__item-info__title {
    font-size: 16px;
    line-height: 16px;
  }
  .services__list__item-info__subtitle {
    font-size: 13px;
    line-height: 18px;
  }
  .feedback {
    margin-top: 40px !important;
  }
  .feedback__container {
    flex-direction: column;
  }
  .feedback__left-block {
    background-image: url(/images/feedback-fon-mob.svg);
    padding: 35px 25px 20px 25px;
  }
  .feedback__left-block-title {
    font-size: 24px;
    line-height: 34px;
  }
  .feedback__left-block-subtitle {
    font-size: 14px;
  }
  .feedback__right-block {
    padding: 25px 25px 30px;
  }
  .feedback__right-block-form {
    width: 100%;
    flex-direction: column;
  }
  .feedback__right-block-form__input {
    margin-right: 0;
    width: auto;
    margin-bottom: 10px;
  }
  .feedback__right-block-form__button {
    font-size: 14px;
    line-height: 14px;
    padding: 20px 24px;
    width: 100%;
  }
  .feedback__right-block-form__button--mobile {
    display: block;
  }
  .feedback__right-block-form__button--desctop {
    display: none;
  }
  .feedback__right-block-checkbox {
    margin-top: 7px;
    margin-bottom: 20px;
    display: flex;
  }
  .feedback__right-block-checkbox input[type=checkbox] {
    display: none;
  }
  .feedback__right-block-checkbox input[type=checkbox]:checked + label::before {
    background-color: var(--main-blue, #248FEC); /* Цвет фона чекбокса, когда он отмечен */
  }
  .feedback__right-block-checkbox input[type=checkbox]:checked + label::before {
    content: "✓"; /* Unicode-символ галочки */
    color: #fff; /* Цвет галочки */
    text-align: center;
  }
  .feedback__right-block-checkbox label {
    margin-top: 0;
    text-align: left;
    position: relative;
    padding-left: 24px;
    cursor: pointer;
  }
  .feedback__right-block-checkbox label::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 14px;
    height: 14px;
    border-radius: 1px;
    border: 1px solid var(--main-blue, #248FEC);
    background-color: transparent;
  }
  .promotions-list {
    gap: 10px;
    flex-direction: column;
    margin: 25px 0 15px;
  }
  .promotions-list__item {
    width: 100%;
  }
  .promotions-list__item-header {
    gap: 4px;
    top: 15px;
    left: 15px;
    font-size: 10px;
    line-height: 11px;
  }
  .promotions-list__item-header__date, .promotions-list__item-header__promo, .promotions-list__item-header__special-price {
    padding: 6px 10px;
  }
  .promotions-list__item-footer {
    gap: 0;
    left: 15px;
    bottom: 15px;
    width: 315px;
  }
  .promotions-list__item-footer__title {
    font-size: 16px;
    line-height: 24px;
  }
  .promotions-list__item-footer__subtitle {
    -webkit-line-clamp: 1;
  }
  .promotions-list__item-footer__date {
    font-size: 12px;
  }
  .seo-info {
    margin: 40px 0;
    padding: 40px 0;
  }
  .seo-info__container {
    max-width: 375px;
    margin: 0 auto;
  }
  .seo-info__title {
    font-size: 20px;
    line-height: 30px;
  }
  .seo-info__subtitle {
    font-size: 14px;
    line-height: 24px;
  }
  .dealerships-list__item {
    height: 195px;
  }
  .dealerships-list__item-img {
    width: 100%;
    height: 215px;
  }
  .dealerships-list__item-info {
    padding: 20px 20px 26px;
  }
  .additional-nav {
    margin-bottom: 40px;
  }
  .filter-form__buttons {
    flex-direction: column;
    margin: 20px 0;
  }
  .filter-form__buttons-settings {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .filter-form__buttons-btn-show {
    width: 100%;
    padding: 23px 34px;
  }
  .filter-form__container__select {
    width: 100%;
    padding: 17px 15px;
    border-bottom: none;
  }
  .filter-form__container__input {
    padding: 17px 15px;
    border-left: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;
    width: 50%;
    box-sizing: border-box;
  }
  .filter-form__container__input:nth-last-child(-n+2) {
    display: none;
  }
  .filter-form__container__input:nth-child(odd) {
    border-left: none;
  }
}/*# sourceMappingURL=components.css.map */