@import "../../header/header.scss";
@import "../../footer/footer.scss";
@import "../../pagination/style.scss";
@import "../../constants/constants.scss";
@import "../../main-cards/constants/style.scss";
@import "../../main-cards/promotion-card/style.scss";
@import "../../main-cards/new-product-card/style.scss";

.news-promotions {
    &__first-block {
        gap: 30px;
        display: flex;
        flex-direction: column;
    }
    &__second-block {
        border: 0;
        margin-bottom: 20px;
    }
}